body {
  height: 100%;
  background-color: #ffefd5;
  background-position: center;
}
.login_box {
  background-color: #ebebeb;
  margin: auto;
  width: 30%;
  border: 3px solid green;
  padding: 40px;
  position: relative;
  top: -20px;
}
#email {
  font-size: 18px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  position: relative;
  top: -30px;
}
#name {
  font-size: 18px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  position: relative;
  top: -30px;
}
#phone {
  font-size: 18px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  position: relative;
  top: -30px;
}
#password {
  font-size: 18px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  position: relative;
  top: -30px;
}
#button {
  background-color: #f5f5dc;
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 12px;
  position: relative;
  top: -10px;
  left: 140px;
  font-family: cursive !important;
}
#heading1 {
  font-size: 20px;
  font-family: cursive !important;
  position: relative;
  top: -30px;
  left: 25px;
}
#heading2 {
  font-family: cursive !important;
  position: relative;
  top: -30px;
  left: 140px;
}
