.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #EEE8AA;
  font-family: cursive !important;
  margin: 25px 30px 35px 50px;
}
.container {
  padding: 2px 16px;
  line-height: 0.6;
}
#story_body{
    line-height: 1.5;    
}
#button3 {
  background-color: #f5f5dc;
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 12px;
  position: relative;
  top: -10px;
  left: 5px;
  font-family: cursive !important;
}
