ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #BDC3C7 ;
        margin: -30px 20px 75px 10px;
      }
      
      li {
        float: right;
      }
      
      li a {
        display: block;
        color: #17202A ;
        text-align: center;
        padding: 24px 20px;
        text-decoration: none;
        font-family: cursive !important;
        font-size: 20px;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: #2ECC71 ;
      }

      p{
          margin: 0;
          padding: 0;
          overflow: hidden;
          position: relative;
          top: 25px;
          left: 35px;
          font-family: cursive !important;
          font-size: 20px;
          font-weight: bold;
      }