.story-container{

  background-color: #ebebeb;
  margin: auto;
  width: 800px;
  height: 400px;
  border: 3px solid green;
  padding: 50px;
  position: relative;
  top: 5px;
}

#title-box{

  font-size: 15px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: cursive !important;
  word-wrap: break-word;
}
#des-box{

  font-size: 15px;
  width: 800px;
  height: 160px;
  margin: 8px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: cursive !important;
  word-wrap: break-word;
}

#auth-lab{

     font-size: 18px;
     font-family: cursive !important;
     margin: 8px 0;
     position: relative;
     top: -30px;
     left: 0px;
     font-weight: bold;
}
#title-lab{

     font-size: 18px;
     font-family: cursive !important;
     margin: 8px 0;
     position: relative;
     top: 3px;
     font-weight: bold;
}
#des-lab{

  font-size: 18px;
  font-family: cursive !important;
  margin: 8px 0;
  position: relative;
  top: 3px;
  font-weight: bold;
}
#date-lab{

  font-size: 18px;
  font-family: cursive !important;
  margin: 8px 0;
  position: relative;
  top: 3px;
  font-weight: bold;
  position: relative;
  left: -210px;
  top: -1px;
}
#button-sav{
  background-color: #f5f5dc;
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 12px;
  position: relative;
  left: 180px;
  top: 15px;
  font-family: cursive !important;
}
#button-del{
  background-color: #f5f5dc;
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 12px;
  position: relative;
  left: 260px;
  top: 15px;
  font-family: cursive !important;
}