body {
  height: 100%;
  background-color: #ffefd5;
  background-position: center;
}
.login_box {
  background-color: #ebebeb;
  margin: auto;
  width: 30%;
  border: 3px solid green;
  padding: 50px;
  position: relative;
  top: 20px;
}
#username {
  font-size: 18px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
#pass {
  font-size: 18px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  position: relative;
  top: -5px;
}
#button1 {
  background-color: #f5f5dc;
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 12px;
  position: relative;
  left: 140px;
  top: 15px;
  font-family: cursive !important;
}
#heading {
  font-family: cursive !important;
  position: relative;
  left: 60px;
}
#navbar {
  font-size: 22px;
  position: relative;
  top: -10px;
}
#regis {
  font-family: cursive !important;
  position: relative;
  top: 50px;
}
#button2 {
  background-color: #f5f5dc;
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 12px;
  position: relative;
  left: 320px;
  top: -5px;
  font-family: cursive !important;
}
